body {
  padding: 0 200px;
  background-color: #e6ecf0; }

h1, h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 2em;
  color: #39464E; }

h2 {
  font-size: 1.25em;
  color: #8FA3B0;
  font-weight: 400; }

.preview-box {
  margin: 50px; }

.preview-twitter {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  width: 504px;
  padding: 9px 12px;
  margin: 0 auto;
  font-size: 14px;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  line-height: 20px;
  color: #14171a;
  text-align: start;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #e6ecf0; }
  .preview-twitter:hover {
    background-color: #f5f8fa; }
  .preview-twitter.preview-twitter--mobile {
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    font-size: 12px;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    line-height: 14px;
    color: #14171a;
    -webkit-font-smoothing: antialiased; }

.preview-twitter__main {
  position: relative;
  margin-left: 58px; }
  .preview-twitter__main:before, .preview-twitter__main:after {
    content: ' ';
    display: table; }
  .preview-twitter__main:after {
    clear: both; }
  .preview-twitter__main .preview-twitter__image {
    position: absolute;
    left: -58px; }

.preview-twitter--mobile .preview-twitter__content {
  margin-left: 0; }

.preview-twitter--avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px; }
  .preview-twitter--mobile .preview-twitter--avatar {
    width: 38px;
    height: 38px; }

.preview-twitter__header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0; }

.preview-twitter__header:before,
.preview-twitter__header:after {
  content: ' ';
  display: table; }

.preview-twitter__header:after {
  clear: both; }

.preview-twitter__header-list {
  list-style: none; }

.preview-twitter__header-list--inline {
  margin: 0;
  padding: 0;
  display: inline-block; }
  .preview-twitter__header-list--inline > .preview-twitter__header-list-item {
    display: inline;
    margin-bottom: 0; }

.preview-twitter--name {
  font-weight: bold;
  color: #333333;
  margin-right: 2px; }

.preview-twitter--profile,
.preview-twitter--username,
.preview-twitter--date,
.preview-twitter--link {
  color: #778f9e;
  cursor: pointer; }

.preview-twitter--tweet p {
  margin: 0;
  line-height: 20px;
  white-space: pre-wrap; }
.preview-twitter--tweet a {
  word-break: break-all;
  color: #0084b4; }
.preview-twitter--tweet .tweet-url.hashtag, .preview-twitter--tweet .tweet-url.username {
  word-break: normal; }

.preview-twitter--media {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  overflow: hidden;
  line-height: 0; }
  .preview-twitter--media .twitter-album {
    max-height: 420px;
    max-width: 504px;
    transition: height .5s;
    position: relative; }
    .preview-twitter--mobile .preview-twitter--media .twitter-album {
      max-height: 120px; }
    .preview-twitter--media .twitter-album .twitter-gallery .twitter-gallery__item {
      max-height: 420px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      .preview-twitter--media .twitter-album .twitter-gallery .twitter-gallery__item:first-child {
        margin-right: 1px; }
      .preview-twitter--mobile .preview-twitter--media .twitter-album .twitter-gallery .twitter-gallery__item {
        max-height: 120px;
        background-position: bottom; }
    .preview-twitter--media .twitter-album .twitter-gallery--1 {
      width: 100%;
      height: 420px; }
      .preview-twitter--media .twitter-album .twitter-gallery--1 .twitter-gallery__item {
        width: 100%;
        height: 100%;
        margin: 0 !important; }
    .preview-twitter--media .twitter-album .twitter-gallery--2 {
      height: 200px;
      position: relative; }
      .preview-twitter--media .twitter-album .twitter-gallery--2 .twitter-gallery {
        width: 100%;
        height: 100%;
        position: relative; }
        .preview-twitter--media .twitter-album .twitter-gallery--2 .twitter-gallery__item {
          position: absolute;
          width: calc(100% /2 - 0.5px);
          height: 100%; }
        .preview-twitter--media .twitter-album .twitter-gallery--2 .twitter-gallery__item2 {
          right: 0; }
      .preview-twitter--mobile .preview-twitter--media .twitter-album .twitter-gallery--2 .twitter-gallery__item {
        width: calc(100% /2 - 1.5px); }
    .preview-twitter--media .twitter-album .twitter-gallery--3 {
      height: 280px;
      position: relative; }
      .preview-twitter--media .twitter-album .twitter-gallery--3 .twitter-gallery {
        position: relative;
        height: 100%;
        width: 100%; }
        .preview-twitter--media .twitter-album .twitter-gallery--3 .twitter-gallery__item {
          position: absolute; }
        .preview-twitter--media .twitter-album .twitter-gallery--3 .twitter-gallery__item1 {
          width: 66.7%;
          height: 100%;
          left: 0; }
        .preview-twitter--media .twitter-album .twitter-gallery--3 .twitter-gallery__item2 {
          width: calc(100% / 3 - 1px);
          height: calc(100% / 2 - 0.5px);
          top: 0;
          right: 0; }
        .preview-twitter--media .twitter-album .twitter-gallery--3 .twitter-gallery__item3 {
          width: calc(100% / 3 - 1px);
          height: calc(100% / 2 - 0.5px);
          bottom: 0;
          right: 0; }
      .preview-twitter--mobile .preview-twitter--media .twitter-album .twitter-gallery--3 {
        height: 120px; }
        .preview-twitter--mobile .preview-twitter--media .twitter-album .twitter-gallery--3 .twitter-gallery__item {
          width: calc(100% /2 - 1.5px);
          height: 100%; }
        .preview-twitter--mobile .preview-twitter--media .twitter-album .twitter-gallery--3 .twitter-gallery__item2, .preview-twitter--mobile .preview-twitter--media .twitter-album .twitter-gallery--3 .twitter-gallery__item3 {
          height: calc(100% /2 - 1.5px); }
    .preview-twitter--media .twitter-album .twitter-gallery--4 {
      height: 329px;
      position: relative; }
      .preview-twitter--media .twitter-album .twitter-gallery--4 .twitter-gallery {
        position: relative;
        height: 100%;
        width: 100%; }
        .preview-twitter--media .twitter-album .twitter-gallery--4 .twitter-gallery__item {
          position: absolute;
          margin: 1px; }
        .preview-twitter--media .twitter-album .twitter-gallery--4 .twitter-gallery__item1 {
          width: 75%;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          margin: 0 1px 0 0; }
        .preview-twitter--media .twitter-album .twitter-gallery--4 .twitter-gallery__item2 {
          width: calc(100% / 4 - 1px);
          height: calc(100% / 3);
          top: 0;
          bottom: calc(100% / 3 * 2);
          right: 0;
          margin: 0 0 1px 0; }
        .preview-twitter--media .twitter-album .twitter-gallery--4 .twitter-gallery__item3 {
          width: calc(100% / 4 - 1px);
          height: calc(100% / 3);
          top: calc(100% / 3);
          right: 0;
          margin: 0; }
        .preview-twitter--media .twitter-album .twitter-gallery--4 .twitter-gallery__item4 {
          width: calc(100% / 4 - 1px);
          height: calc(100% / 3);
          top: calc(100% / 3 * 2);
          bottom: 0;
          right: 0;
          margin: 1px 0 0 0; }
      .preview-twitter--mobile .preview-twitter--media .twitter-album .twitter-gallery--4 {
        height: 120px; }
        .preview-twitter--mobile .preview-twitter--media .twitter-album .twitter-gallery--4 .twitter-gallery__item {
          width: calc(100% /2 - 1.5px);
          height: calc(100% /2 - 1.5px);
          margin: 0; }
        .preview-twitter--mobile .preview-twitter--media .twitter-album .twitter-gallery--4 .twitter-gallery__item2 {
          right: 0; }
        .preview-twitter--mobile .preview-twitter--media .twitter-album .twitter-gallery--4 .twitter-gallery__item3 {
          top: calc(100% /2 + 1.5px);
          bottom: 0;
          left: 0; }
        .preview-twitter--mobile .preview-twitter--media .twitter-album .twitter-gallery--4 .twitter-gallery__item4 {
          top: calc(100% /2 + 1.5px);
          bottom: 0;
          right: 0; }

.preview-twitter--actions {
  cursor: pointer;
  width: 18%;
  display: inline-block; }
  .preview-twitter--actions img {
    height: 13px; }
  .preview-twitter--mobile .preview-twitter--actions {
    width: 23%; }
    .preview-twitter--mobile .preview-twitter--actions img {
      height: 12px; }

/*# sourceMappingURL=index.css.map */
