$twitter-width: 504px;
$twitter-width-mobile: 300px;
$twitter-padding: 9px 12px;
$twitter-padding-mobile: 10px;
$twitter-font: 'Helvetica Neue', Roboto, "Segoe UI", Calibri, sans-serif;
$twitter-blue: #1DA1F2;
$twitter-grey: #aab8c2;
$twitter-grey-dark: lighten(#495B66,20%);
$twitter-body-color: #14171a;
$gallery-gutter: 5px;

@mixin clearfix-micro {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin preview-twitter-box($size) {
    @if ($size == 'desktop') {
        box-sizing: border-box;
        width: $twitter-width;
        padding: $twitter-padding;
        margin: 0 auto;
    } @elseif ($size == 'mobile') {
        box-sizing: border-box;
        width: $twitter-width-mobile;
        padding: $twitter-padding-mobile;
        margin: 0 auto;
    } @else {
        @warn ('Specify box size');
    }
}

@mixin preview-twitter-font($size) {
    @if ($size == 'desktop') {
        font-size: 14px;
        font-family: $twitter-font;
        line-height: 20px;
        color: $twitter-body-color;
        text-align: start;
        text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
    } @elseif ($size == 'mobile') {
        font-size: 12px;
        font-family: $twitter-font;
        line-height: 14px;
        color: $twitter-body-color;
        -webkit-font-smoothing: antialiased;
    } @else {
        @warn ('Specify font size');
    }
}

@mixin preview-twitter-base {
    background-color: #fff;
    border: 1px solid #e8e8e8;
}

.preview-twitter {
    @include preview-twitter-base;
    @include preview-twitter-box('desktop');
    @include preview-twitter-font('desktop');
    border-bottom: 1px solid #e6ecf0;
    
    &:hover {
        background-color: #f5f8fa;
    }
    
    &.preview-twitter--mobile {
        @include preview-twitter-box('mobile');
        @include preview-twitter-font('mobile');
    }
}

.preview-twitter__main {
    @include clearfix-micro;
    position: relative;
    margin-left: 58px;

    .preview-twitter__image {
        position: absolute;
        left: -58px;
    }
}

.preview-twitter__content {

    .preview-twitter--mobile & {
        margin-left: 0;
    }
}

.preview-twitter--avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;

    .preview-twitter--mobile & {
        width: 38px;
        height: 38px;
    }
}

.preview-twitter__header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.preview-twitter__header:before,
.preview-twitter__header:after {
    content: ' ';
    display: table;
}

.preview-twitter__header:after {
    clear: both;
}

.preview-twitter__header-list {
    list-style: none;
}

.preview-twitter__header-list--inline {
    //List reset
    margin: 0;
    padding: 0;
    display: inline-block;

    > .preview-twitter__header-list-item {
        display: inline;
        margin-bottom: 0;
    }
}

.preview-twitter--name {
    font-weight: bold;
    color: #333333;
    margin-right: 2px;
}

.preview-twitter--profile,
.preview-twitter--username,
.preview-twitter--date,
.preview-twitter--link {
    color: $twitter-grey-dark;
    cursor: pointer;
}

.preview-twitter--tweet {
    p {
        margin: 0;
        line-height: 20px;
        white-space: pre-wrap;
    }

    a {
        word-break: break-all;
        color: #0084b4;
    }

    .tweet-url {
        &.hashtag, &.username {
            word-break: normal;
        }
    }
}

.preview-twitter--media {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 10px 0;
    overflow: hidden;
    line-height: 0;

    .twitter-album {
        max-height: 504px;
        max-width: 504px;
        transition: height .5s;

        .twitter-gallery {

            .twitter-gallery__item {
                width: 100%;
                height: 200px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                &:first-child {
                    margin-right: 1px;
                }
            }

            &--1 {
                .twitter-gallery__item1 {
                    width: 420px;
                    height: auto;
                }
            }

            &--2 {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }

            &--3 {
                // display: flex;
                height: 280px;
                // vertical-align: top;
                position: relative;

                .twitter-gallery {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    
                    &__item {
                        position: absolute;
                        margin: 1px;
                    }
                    &__item1 {
                        height: 100%;
                        width: 66.7%;
                        // top: 0;
                        // bottom: 0;
                        margin-top: 0 !important;
                        margin-bottom: 0 !important;
                        margin-left: 0 !important;
                    }

                    &__item2 {
                        top: 0;
                        bottom: 50%;
                        right: 0;
                        margin-top: 0 !important;
                        margin-right: 0 !important;
                        width: calc(100% / 3 - 1px);
                        height: 50%;
                    }

                    &__item3 {
                        top: 50%;
                        bottom: 0;
                        right: 0;
                        margin-bottom: 0 !important;
                        margin-right: 0 !important;
                        width: calc(100% /3 - 1px);
                        height: 50%;
                    }
                }
            }

            &--4 {
                height: 379px;
                position: relative;

                .twitter-gallery {
                    position: relative;
                    height: 100%;
                    width: 100%;

                    &__item {
                        position: absolute;
                        margin: 1px;
                    }

                    &__item1 {
                        height: 100%;
                        width: 75%;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        // right: 50%;
                        margin-top: 0 !important;
                        margin-left: 0 !important;
                        margin-bottom: 0 !important;
                        
                    }

                    &__item2 {
                        width: calc(100% / 4 - 1px);
                        height: calc(100% / 3 - 1px);
                        top: 0;
                        bottom: 66.77%;
                        // left: 50%;
                        right: 0;
                        margin-top: 0 !important;
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                        // margin-bottom: 0 !important;
                    }

                    &__item3 {
                        width: calc(100% / 4 - 1px);
                        height: calc(100% / 3);
                        top: 33.33%;
                        bottom: 33.33%;
                        // left: 0;
                        right: 0;
                        margin-top: 0 !important;
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                        margin-bottom: 0 !important;
                    }

                    &__item4 {
                        width: calc(100% / 4 - 1px);
                        height: calc(100% / 3 - 1px);
                        top: 66.77%;
                        bottom: 0;
                        // left: 50%;
                        right: 0;
                        // margin-top: 0 !important;
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}

// .preview-twitter--media {
//     border-radius: 5px;
//     border: 1px solid rgba(0,0,0,0.1);
//     margin: 10px 0;
//     overflow: hidden;
//     // background-position: center;
//     // background-repeat: no-repeat;
//     // background-size: cover;
//     line-height: 0px;
//     // display: inline-block;

//     .preview-twitter--image {
//         max-height: 504px;
//         max-width: 504px;
//         transition: height .5s;

//         img {
//             width: 420px;
//             border-radius: 5px;
//         }
//     }

//     .preview-twitter--album {
//         max-height: 379.5px;
//         border: 3px solid red;
//         // margin-top: 10px;
        
//         &.preview-twitter--gallery {
//             display: flex;

//             &--2 {
//                 max-height: 253px;
//                 font-size: 0;
    
//                 .preview-twitter--gallery {
//                     &:first-child {
//                         margin-right: 1px;
//                     }
//                     &__item {
//                         background-size: cover;
//                     }
//                     &__item1 {
//                         img {
//                             height: 210px;
//                         }
//                     }
//                 }
    
//             }
//         }    
//     }

    
// }



.preview-twitter--actions {
    cursor: pointer;
    width: 15%;
    display: inline-block;

    & img:hover {
        cursor: inherit;
        stroke: $twitter-blue;
    }
}